{{> loginHeaders}}

    <article>
            <div class="chatblock">

            <input type="text" placeholder="Search..." class="search-input">

            <button class="search-button">Search</button>
            
            </div>
    </article>

    <article>

        <div class="chatblock">

            <h1>Guides:</h1>

            {{#with guides}}

            <div class="structure-content">

                <form action="" method="POST">

                <h3>- {{title}}</h3>

            <p>- {{message}}</p>

            <p>- {{username}}</p>

           <div class="imageshit">

             <img src="data:image/jpeg;base64, {{image}}" alt="" style="max-width: 200px;">

           </div>


            </form>



            {{else}}

            <p>There are no guides available right now.</p>

            </div>

            {{/with}}

        </div>

    </article>